---
http_interactions:
- request:
    method: get
    uri: https://graph.accountkit.com/v1.0/access_token?access_token=AA%7C1168173003250539%7C9bdc9ae47c4211b9919a036c1e1bc477&code=invalid%20code&grant_type=authorization_code
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Invalid verification code"
      Emerson-Api-Version:
      - v1.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid verification code","type":"OAuthException","code":1,"fbtrace_id":"FNXWBWxiz3p"}}'
  recorded_at: Sat, 18 Jun 2016 16:50:58 GMT
recorded_with: VCR 3.0.3
