---
http_interactions:
- request:
    method: get
    uri: https://graph.accountkit.com/v1.0/me?access_token=invalid%20access%20token&appsecret_proof=dcca0fde4790f53de526ea8d25c7f8ddbb2616f0d9cb03abc05ba4f144b2d665
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"BYm7Op6reiZ"}}'
  recorded_at: Sat, 18 Jun 2016 16:50:58 GMT
recorded_with: VCR 3.0.3
